cli/pazuzu/pazuzu


# IntelliJ Idea project files
.idea
*.iml

# vscode files
.vscode

# Vim (Seriously! anybody?)
.*.swp

# MacOS (annoying)
.DS_Store

# Internal data files
Pazuzufile
Dockerfile
test.bats

!features/*/Dockerfile
!features/*/test_spec.json

vendor/*/
swagger/*/
